ami_id = "{{tfvars_ami_id}}"
aws_region = "{{tfvars_aws_region}}"
tags = {{tfvars_tags}}
instance_type = "{{tfvars_instance_type}}"
instance_count_max = {{tfvars_instance_count_max}}
instance_count_min = {{tfvars_instance_count_min}}
route53_zone = "{{tfvars_route53_zone}}"
route53_record = "{{tfvars_route53_record}}"
launch_template_prefix = "{{tfvars_launch_template_prefix}}"
security_group_name = "{{tfvars_security_group_name}}"
whitelisted_CIDRs = {{tfvars_whitelisted_CIDRs}}
